<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description dynamic-text"></span><span class="cursor">|</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:pvsp2000@gmail.com">
          <i class="icon fa fa-envelope"></i>
        </a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/pvs-prasanth">
          <i class="icon fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/pvsp_the_last_survivor">
          <i class="icon fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a aria-label="My Github" target="_blank" href="https://github.com/pvsp2003">
          <i class="icon fa fa-github" aria-hidden="true"></i>
        </a>
      </div>
      
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
        <a class="link" href="assets/PVS_Prasanth_Resume.pdf" target="_blank">Resume</a>
        <a class="link" href="#contact" data-scroll>Contact</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>

<script>
  const dynamicText = document.querySelector('.dynamic-text');
  const phrases = ["Web Developer", "Data Analyst", "Android Developer"];
  let currentPhraseIndex = 0;
  let letterIndex = 0;
  
  function type() {
      if (letterIndex < phrases[currentPhraseIndex].length) {
          dynamicText.textContent += phrases[currentPhraseIndex].charAt(letterIndex);
          letterIndex++;
          setTimeout(type, 100); // Typing speed
      } else {
          setTimeout(deleteText, 1000); // Pause before deleting
      }
  }

  function deleteText() {
      if (letterIndex > 0) {
          dynamicText.textContent = phrases[currentPhraseIndex].substring(0, letterIndex - 1);
          letterIndex--;
          setTimeout(deleteText, 50); // Deleting speed
      } else {
          currentPhraseIndex = (currentPhraseIndex + 1) % phrases.length; // Next phrase
          setTimeout(type, 500); // Pause before typing again
      }
  }

  // Start the animation
  type();
</script>

<style>
  .cursor {
      display: inline-block;
      width: 5px;
      background-color: black;
      margin-left: 5px;
      animation: blink 0.7s infinite;
  }

  @keyframes blink {
      0% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 1; }
  }
</style>
