<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="cardiopredict" src="{{ "/assets/img/heart.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> CardioPredict - Web Interface for Cardiovascular Risk Estimation </h3>
    <p>CardioPredict is a clinical decision support tool designed to assess cardiovascular risk based on anonymized medical data. It leverages a trained Random Forest model and SHAP explainability to provide interpretable predictions. The platform generates personalized PDF reports and automates result delivery via email, helping clinicians make informed decisions efficiently.</p>
    <a class="project-link" href="https://github.com/pvsp2003/Heart_disease_prediction" target="_blank">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="artgallery" src="{{ "/assets/img/art.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> A Million Drizzles - An Art Gallery Website </h3>
    <p>An Art Gallery Website that showcases and categorizes various artworks, allowing users to explore, purchase, and review paintings. Artists can upload their creations, manage their portfolio, and receive custom orders, while an admin oversees operations. This platform enhances accessibility to art and streamlines the buying process.</p>
    <a class="project-link" href="https://github.com/pvsp2003/Art-gallery-website" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="quizzapp" src="{{ "/assets/img/quizz.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Django Quiz App - An Accessible Quiz App</h3>
    <p>An Accessible Quiz App focused on inclusivity and usability, adhering to Human-Computer Interaction (HCI) principles and UI/UX design rules. It features voice commands, text-to-speech, keyboard navigation, and high-contrast visuals for enhanced accessibility. Designed with consistency, feedback mechanisms, error prevention, and user control, it ensures a seamless, intuitive, and engaging learning experience for all users.</p>
    <a class="project-link" href="https://github.com/pvsp2003/Quizapp" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mobileprice" src="{{ "/assets/img/mobile.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Mobile Price Prediction - A Mobile Price Predication model on Flipkart dataset</h3>
    <p>A Mobile Price Prediction System powered by machine learning, trained on a Flipkart dataset with key smartphone specifications like RAM, ROM, processor, battery, company, and camera. Data preprocessing was performed using RapidMiner, and the model was trained using Decision Tree, Random Forest, and Naïve Bayes to ensure accurate predictions. This system helps users make data-driven decisions when purchasing smartphones.</p>
    <a class="project-link" href="https://github.com/pvsp2003/price-prediction-of-mobile-using-machine-learning" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Messaging app" src="{{ "/assets/img/message.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> ConvoBuddy - A Messaging App</h3>
    <p>ConvoBuddy is an AI-powered messaging app that combines real-time chat with an intelligent chatbot for instant query resolution. Developed using Android Studio, Firebase DB, and Gemini API, it offers seamless communication, smart assistance, and real-time synchronization, making interactions more efficient and engaging. </p>
    <a class="project-link" href="https://github.com/pvsp2003/Android-Chat-App-along-with-AI-chat" target="_blank">Check it out</a>
  </div>
</div>
